*{
  box-sizing: border-box;
}
header{
  background: #F45EEF;
  width: 100%;
  margin: 0 auto;
}
header nav{
  text-align: center;
  color: black;
  padding-left: 20px;
  padding-top: 50px;
  padding: 20px;
  text-decoration: none;
}
body{
  background:url('img/fond.jpg');
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Unna', serif;
}
